/*  ==========================================================================
    Base
    ========================================================================== */

/*
    Elements
    ========================================================================== */

html {
   	font-smoothing: antialiased;
   	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: $f-sans;
	font-weight: 400;
	font-style: normal;
    color: map-get( $c-colours, primary );
    // Sets base to 16px
    @include vs-spacing(font-size, 16px, 16px);
}


/*  ==========================================================================
    Text
    ========================================================================== */

.text {
    line-height: 1.36;
    @include vs-spacing(font-size, 18px, 22px);

    a {
        text-decoration: underline;
        color: map-get( $c-colours, primary );
    }
}

.text--regular {
    font-family: $f-sans;
}

.text--64 {
    @include vs-spacing(font-size, 32px, 64px);
}

.text--44 {
    line-height: 1;
    @include vs-spacing(font-size, 32px, 44px);
}

.text--32 {
    @include vs-spacing(font-size, 24px, 32px);
}

.text--20 {
    @include vs-spacing(font-size, 20px, 20px);
}

.text--grey {
    color: map-get( $c-colours, light-grey );
}

/*
    Elements
    ========================================================================== */

// REF - http://stackoverflow.com/questions/19099401/why-use-h1-instead-of-actual-h1

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: $f-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 20px;
}

h1, .h1 { }

h2, .h2 { }

h3, .h3 { }

h4, .h4 { }

h5, .h5 { }

h6, .h6 { }

iframe {
    max-width: 100%;
}