/*  ==========================================================================
    Globals (Mobile First)
    ========================================================================== */

/*
    Padding and Margins
    ========================================================================== */

$padding: 40px; // Padding and margins

/*
    Widths and Heights
    ========================================================================== */

$w-container: 960px;

/*
    Site colours
    ========================================================================== */

// Gray Scale
$c-white: #fff;
$c-silver: #ddd;
$c-grey: #aaa;
$c-light-grey: #ededed;
$c-off-black: #1a1a1a;
$c-black: #000;
//
$c-red: #FF0000;
$c-green: #2ECC40;
$c-blue: #0074D9;
$c-orange: #FF851B;

// Color variables
// $primary-color: $colour-name-one;
// $secondary-color: $colour-name-two;
// $tertiary-color: $colour-name-three;

// Colours through-out - prefix with c-
$c-bad: $c-red; // Bad color for errors, validation etc.
$c-good: $c-green; // Good color for success etc.
$c-info: $c-blue; // Good color for success etc.
$c-warning: $c-orange; // Good color for success etc.
$c-subtle: $c-grey; // Subtle color for subtle text


/*
    Colour Maps
    ========================================================================== */

$c-colours: (
    primary: #2e2c2c,
    light-grey: #f4f4f3,
    red: #ec0142,
    dark-red: #b90134,
    light-brown: #b3afab,
    brown: #686058,
    off-white: #f3f3f3,
    off-black: #2a2a2c
);


/*
    Fonts
    ========================================================================== */

$f-sans: 'ProximaNovaAlt', sans-serif;
$f-serif: 'Tiempos', sans-serif;


/* Font Sizes
    ========================================================================== */

// $fs-title: (
//     small: 3.5,
//     medium: 4.5,
//     large: 5.5,
// );

// $fs-title-xl: (
//     small: 6.5,
//     medium: 8.5,
//     large: 10.8,
// );

// @include rem-rwd( $fs-title );


/*  ==========================================================================
    Foundation
    ========================================================================== */

/*
    Grid
    ========================================================================== */

$grid-column-gutter: (
    small: 20px,
    medium: 20px,
);

$global-width: 960px + map-get( $grid-column-gutter, medium );
$grid-column-count: 12;
$global-flexbox: false;
$global-right: left;
$global-left: left;
$breakpoints: (
    small: 0,
    mobile: 375px,
    medium: 640px,
    xmedium: 800px,
    large: 1025px,
    xlarge: 1280px,
    xxlarge: 1500px,
    xxxlarge: 2000px
);
$breakpoint-classes: (small mobile medium xmedium large xlarge xxlarge xxxlarge);

/*  ==========================================================================
    Fonts
    ========================================================================== */

/* Typography */
@font-face {
    font-family: ProximaNovaAlt;
    src: url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-regular-alt.woff2) format("woff2"),url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-regular-alt.woff) format("woff");
    font-weight: 500;
    font-display:swap
  }
  
  @font-face {
    font-family: ProximaNovaAlt;
    src: url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-semibold-alt.woff2) format("woff2"),url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-semibold-alt.woff) format("woff");
    font-weight: 600;
    font-display:swap
  }
  
  @font-face {
    font-family: ProximaNovaAlt;
    src: url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-italic-alt.woff2) format("woff2"),url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-italic-alt.woff) format("woff");
    font-style: italic;
    font-weight: 500;
    font-display:swap
  }
  
  @font-face {
    font-family: ProximaNovaAlt;
    src: url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-bold-alt.woff2) format("woff2"),url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-bold-alt.woff) format("woff");
    font-weight: 700;
    font-display:swap
  }
  
  @font-face {
    font-family: Tiempos;
    src: url(https://www.hillarys.co.uk/build/global/webfonts/klim/headline-semibold.woff2) format("woff2"),url(https://www.hillarys.co.uk/build/global/webfonts/klim/headline-semibold.woff) format("woff");
    font-weight: 600;
    font-display:swap
  }