/*  ==========================================================================
    Lists
    ========================================================================== */
/*
    Reset
    ========================================================================== */

.list--bare,
%list-bare {
    list-style: none;
    padding: 0;
    margin: 0;
}